name: Deploy to VPS

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 72.62.170.70
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/sodo-hospital
            git pull origin master
            docker compose build app --no-cache
            docker compose up -d app
            echo "Deployed successfully!"
